* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

body {
  background-color: rgba(26, 26, 26, 1);
  overflow: hidden;
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.todo {
  animation: fall linear infinite;
  background: rgba(254, 254, 254, 1);
  border-radius: 0.5rem;
  border: 1px solid rgba(221, 221, 221, 1);
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  color: rgba(51, 51, 51, 1);
  font-size: 1rem;
  left: 50%;
  margin: 0.625rem 0;
  max-width: 36rem;
  padding: 1.25rem;
  position: absolute;
  transform: translateX(-50%) translateY(-150%);
  width: 100%;
}

.todo ul {
  color: rgba(68, 68, 68, 1);
  list-style-type: disc;
  padding-left: 1.25rem;
}

@media (max-width: 768px) {
  .todo {
    max-width: 90%;
  }

  .todo ul li {
    font-size: 0.8rem;
  }
}

footer {
  position: fixed; 
  left: 0;
  right: 0;
  bottom: 0; 
  background-color: rgba(0, 0, 0, 0.8); 
  color: rgba(255, 255, 255, 1);
  text-align: center; 
  padding: 0.625rem 0; 
  font-size: 1rem; 
  z-index: 1000; 
}

footer a {
  color: rgba(207, 207, 207, 1); 
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline; 
}
