.directory li:nth-child(odd) a {
  background: linear-gradient(to right, rgb(75, 56, 50), rgb(46, 29, 24));
}

.directory li:nth-child(even) a {
  background: linear-gradient(to right, rgb(107, 66, 38), rgb(59, 45, 38));
}

.directory li:nth-child(3n) a {
  background: linear-gradient(to right, rgb(58, 51, 39), rgb(45, 38, 33));
}

.directory li:nth-child(4n) a {
  background: linear-gradient(to right, rgb(104, 61, 39), rgb(66, 47, 32));
}

.directory li:nth-child(5n) a {
  background: linear-gradient(to right, rgb(50, 38, 36), rgb(34, 25, 23));
}

.directory li:nth-child(6n) a {
  background: linear-gradient(to right, rgb(92, 63, 47), rgb(55, 40, 32));
}

.directory li:nth-child(7n) a {
  background: linear-gradient(to right, rgb(80, 47, 35), rgb(60, 36, 30));
}

.directory li:nth-child(8n) a {
  background: linear-gradient(to right, rgb(68, 53, 43), rgb(45, 35, 28));
}

.directory li:nth-child(9n) a {
  background: linear-gradient(to right, rgb(54, 44, 37), rgb(40, 31, 28));
}

.directory li:nth-child(10n) a {
  background: linear-gradient(to right, rgb(90, 67, 53), rgb(65, 47, 39));
}

.directory li:nth-child(odd) {
  --book-tilt: -2deg;
}

.directory li:nth-child(even) {
  --book-tilt: 1deg;
}

.directory li:nth-child(3n) {
  --book-tilt: -1deg;
}

.directory li:nth-child(4n) {
  --book-tilt: 3deg;
}

.directory li:nth-child(5n) {
  --book-tilt: -3deg;
}

.directory li:nth-child(6n) {
  --book-tilt: 2deg;
}

.directory li:nth-child(7n) {
  --book-tilt: -2deg;
}

.directory li:nth-child(8n) {
  --book-tilt: 1deg;
}

.directory li:nth-child(9n) {
  --book-tilt: -1deg;
}

.directory li:nth-child(10n) {
  --book-tilt: 3deg;
}
